body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4; /* Light gray background */
}

header {
  background-color: #044d7e; /* Blue header background */
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  color: white;
}

.logo-container img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column; /* Adjusted to stack content vertically */
}

.program-section,
.eligibility-section,
.degree-information-section {
  display: flex;
  flex-direction: row; /* Adjusted to arrange content side by side */
  margin-bottom: 20px;
}

.program-image img,
.eligibility-image img,
.degree-information-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  margin-right: 20px;
}

.program-introduction,
.eligibility-text,
.degree-information-text {
  flex: 1;
}

.program-introduction h2,
.eligibility-text h2,
.degree-information-text h2 {
  color: #ff8c00; /* Orange heading text */
}

footer {
  background-color: #044d7e; /* Blue footer background */
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  /* bottom: 0;
  width: 100%;
  height: auto; */
}

.footer-section {
  text-align: center;
}

.timeline-heading {
  text-align: center;
  color: #ff8c00; /* Orange text color */
}

.vertical-timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  position: relative;
}

.timeline-item::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: #007acc; /* Blue line color */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.timeline-box {
  border: 2px solid #007acc; /* Blue border */
  border-radius: 8px;
  padding: 10px;
  background-color: #ffffff; /* White background */
}

.timeline-box h3,
.timeline-box p,
.timeline-box .deadline {
  margin: 0;
  text-align: center;
}

.timeline-box .deadline {
  margin-top: 10px;
}

.center-heading {
  text-align: center;
  color: #ff8c00; /* Orange text color */
}

.alumni-item {
  display: flex;
  margin-bottom: 20px;
}

.alumni-item img {
  width: 150px; /* Adjust as needed */
  height: auto;
  margin-right: 20px;
}

.alumni-details {
  flex: 1;
}